@page

@model WebApplication24.Pages.PersonModel
@using WebApplication24.Models
@{
    ViewData["Title"] = "Ввод данных";
}
<form method="POST">
    <input type="number" name="age" />
    <input type="submit" asp-page-handler="GreaterThan" value="Старше" />
    <input type="submit" asp-page-handler="LessThan" value="Младше" />
</form>

<h2>Список пользователей</h2>
<table class="table">
    <tr><td>Name</td><td>Age</td></tr>
    @foreach (Person person in Model.DisplayedPeople)
    {
<tr>
    <td>@person.Name</td>
    <td>@person.Age</td>
    <td>
        <a href='@Url.Page("/Person","DeleteById", new {id=person.Id })'>delete</a>
    </td>
    <td>
        <a href='@Url.Page("/Person","DeleteById", new {id=person.Id })'>details</a>
    </td>
</tr>
    }
</table>

